@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Comfortaa:wght@700&display=swap');
@import url("//use.fontawesome.com/releases/v5.15.3/css/all.css");

body{
display: block;
color: #fff;
background-color: #000000;
user-select: none;
/* overflow: hidden; */
}
.background{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
filter: blur(2px);
background-position: center center;
background-size: cover;
z-index: -1;
}
/* @keyframes poster {
0%{
  transform: rotate(0deg) scale(0.9);
  border-radius: 200px;
}
50%{
  border-radius: 200px;
}
100%{
  transform: rotate(360deg) scale(0.9);
  border-radius: 20px;
}
} */
.poster{
position: absolute;
top: 20px;
left: 30px;
display: block;
border: 2px rgb(255, 255, 255) solid;
border-radius: 20px;
/* border-radius: 10px 10px 10px 10px; */
margin-top: 0px;
width: 20%;
/* transform: scale(0.9); */
transform: rotate(0deg) scale(0.9);
transition: 0.5s;
animation-name: poster;
animation-iteration-count: 1;
animation-duration: 4s;
box-shadow: 0 0 16px #ffffff;
z-index: 4;
}
/* .poster:hover{
transform: scale(0.9);
border: 20px #fffdfd solid;
box-shadow:  10px 10px 14px #00000081;
transition: 0.5s ease;
} */
.powered{
position: fixed;
top: 10px;
right: 10px;
margin: auto;
width: 13%;
font-family: 'Comfortaa', cursive;
font-size: 12px;
color: rgb(255, 255, 255);
text-shadow: 0 0 15px #f703ff3f;
user-select: none;
}
.audio-controls{
position: absolute;
top: 110px;
left: 125px;
backdrop-filter: blur(3px);
background: linear-gradient(45deg, #7500be7e, #9d00ff62);
margin: auto;
width: 80px;
height: 80px;
padding: 23px 32px;
border-radius: 100px;
box-shadow: inset 0px 0px 8px #00000050;
transition: 0.5s;
z-index: 5;
}
.audio-controls:hover{
backdrop-filter: blur(8px);
/* background: linear-gradient(45deg, #f703ff6b, #fca4ff69); */
box-shadow: inset 0px 0px 48px #9d00ff;
transition: 0.5s;
}
.playpause {
margin-left: 0px;
padding-top: 0px;
border-radius: 50%;
background: transparent;
cursor: pointer;
transition: 0.3s ease-in-out;
}
.playpause:hover {
background: #810585;
}
.playpause .button {
width: 15px;
height: 15px;
background: #ffffff;
transition: inherit;

margin-left: 3px;
clip-path: polygon(0 0, 50% 25%, 50% 75%, 50% 75%, 50% 25%, 100% 50%, 100% 50%, 0 100%);
}
.playpause.playing .button {
clip-path: polygon(0 0, 40% 0, 40% 100%, 60% 100%, 60% 0, 100% 0, 100% 100%, 0 100%);
margin-left: 3px;
}
.links{
  display: none;
  position: absolute;
  bottom: 40px;
  margin: auto;
  width: 99.3%;
color: cornsilk;
transition: 0.5s;
}
.links:hover{
color: rgb(255, 255, 255);
text-shadow: 0 0 10px #ffffff;
transition: 0.5s;
}
/* @keyframes notice {
from{
  opacity: 0;
}
to{
  opacity: 0;
}
} */
.notice{
display: none;
position: absolute;
left: 0;
bottom: 0;
width: 100%;
padding: 3px 0;
color: rgb(255, 255, 255);
background-color: #0000008f;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* animation-name: notice;
animation-iteration-count: 1;
animation-duration: 2s;
opacity: 1; */
}
progress[value]{
-webkit-appearance: none;
appearance: none;
position: fixed;
top: 0;
width: 100%;
height: 5px;
}
progress[value]::-webkit-progress-bar {
background: rgba(255, 255, 255, 0);
}
progress[value]::-webkit-progress-value{
box-shadow:  0 0 18px #a70000;
background: linear-gradient(180deg, #a70000, #f00000);
z-index: 1;
}
.track-desc{
font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 13px;
text-shadow: 0 0 10px #810585;
}

.streaming{background: rgb(0, 0, 0);height: 100%; font-weight: 500; font-family: 'Comfortaa', cursive;color: #000000;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 10;}
.strm-img{margin-top: 20vh;opacity:.4; width: 22%; filter: drop-shadow(0 0 0px #b103ff); transition: 0.3s ease;}
.strm-img:hover{opacity:.8; backdrop-filter: drop-shadow(0 0 20px 1px #af03ffcb); transition: 0.1s ease;}
h6{color: #e2e2e2;text-shadow: 0 0 10px #810585; font-size: 9px; font-weight: unset;font-family: 'Comfortaa', cursive;}
h2{color: #ffffff;text-shadow: 0 0 10px #810585; font-weight: unset;font-family: 'Comfortaa', cursive;}
#timer{color: #ffffff;text-shadow: 0 0 10px #810585; font-size: 14px;font-family: 'Comfortaa', cursive;}
.expired{background: rgb(0, 0, 0);font-family: 'Comfortaa', cursive;color: #000000;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 9;}
.ex-img{margin-top: 35vh;opacity: .5; width: 10%;}
.expired-text{font-family: 'Comfortaa', cursive;}
#ending{
color: #ffffff;
text-shadow: 0 0 16px #ffffff;
background-color: #810585a8;
padding: 2px 10px;
border-radius: 3px;
font-size: .8rem;
font-family: 'Comfortaa', cursive;
backdrop-filter: blur(3px);
}

/* PLAYER */
.player {
height: 100vh;
width: 100vw;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
background: rgba(0, 0, 0, 0.288);
text-shadow: 0 0 16px #ffffff;
}
.details {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-top: 5px;
}
.track-art {
margin: 25px;
height: 200px;
width: 200px;
background-image: URL("../../album cover.jpg");
background-size: cover;
background-position: center;
box-shadow: 0 0 16px rgba(255, 255, 255, 0);
border-radius: 5%/10%;
}
.now-playing {
font-size: 1rem;
font-family: 'Comfortaa', cursive;
text-shadow: 0 0 6px #fff;
}
.track-name {
background-color: #81058500;
padding: 0 8px;
border-radius: 5px;
font-size: 1rem;
font-family: 'Comfortaa', cursive;
text-shadow: 0 0 6px rgba(255, 255, 255, 0.267);
transition: 0.5s;
}
.track-name:hover{
text-shadow: 0 0 6px rgb(255, 255, 255);
transition: 0.5 ease;
}
.track-artist {
font-size: .8rem;
font-family: 'Comfortaa', cursive;
text-shadow: 0 0 6px rgba(255, 255, 255, 0.267);
}
.track-artist:hover{
text-shadow: 0 0 6px rgb(255, 255, 255);
transition: 0.5 ease;
}
.buttons {
display: flex;
flex-direction: row;
background-color: #00000000;
/* backdrop-filter: blur(5px); */
border-radius: 10px;
align-items: center;
}
.playpause-track,
.prev-track,
.next-track {
padding: 10px 30px;
transform: scale(0.9);
transition:  0.5s ease, opacity .2s;
}
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
transform: scale(1.0);
transition: 0.5s ease;
}
.playpause-track:active,
.prev-track:active,
.next-track:active {
transform: scale(0.6);
transition: 0.5s ease;
}
.slider_container {
width: 75%;
max-width: 400px;
display: flex;
justify-content: center;
align-items: center;
}
.seek_slider, .volume_slider {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
height: 5px;
background: #810585;
text-shadow: 0 0 6px #fff;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}
.seek_slider{display: none;}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background: white;
text-shadow: 0 0 6px rgba(255, 255, 255, 0.548);
cursor: pointer;
border-radius: 50%;
}
.seek_slider:hover,
.volume_slider:hover {opacity: 1.0;}
.seek_slider {width: 60%;}
.volume_slider {width: 30%;}
.current-time,
.total-duration
{padding: 10px;
  font-family: 'Comfortaa', cursive;
text-shadow: 0 0 6px rgba(255, 255, 255, 0.795);}
i.fa-volume-down,i.fa-volume-up {padding: 10px;}
i.fa-play-circle,i.fa-pause-circle,i.fa-step-forward,i.fa-step-backward {cursor: pointer;}




@media screen and (max-width: 768px) {
body{
background-color: #ffffff;
/* overflow-y: hidden;
overflow-x: hidden; */
}
.background{
position: absolute;
top: 0px;
right: 0px;
bottom: 2px;
left: 0px;
filter: blur(5px);
background-position: center center;
background-size: cover;
z-index: -1;
overflow: hidden;
}
.animation{
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
filter: blur(0px);
background-image: url("../../gif.gif");
background-position: center center;
background-size: cover;
mix-blend-mode: screen;
opacity: 0.1;
z-index: -1;
}
.poster{
display: block;
background: rgba(180, 16, 16, 0);
border-radius: 10px 10px 10px 10px;
margin: 15% 25%;
width: 40vw;
box-shadow:  0px 0px 1px #0000008f;
}
.powered{
position: absolute;
top: 95vh;
width: 90vw;
height: 2%;
font-size: 8px;
color: rgb(255, 255, 255);
background: rgba(180, 16, 16, 0);
user-select: none;
}
.audio-controls{
position: absolute;
bottom: -25%;
left: 45%;
background-color: rgba(120, 0, 194, 0);
/* background-color: rgba(107, 107, 107, 0.39);*/
 margin: auto;
/* width: 80px;*/
 width: 50px;
height: 50px;
padding: 10px 18px;
border-radius: 400px;
text-align: center;
/* box-shadow:  0px 0px 5px #2e2e2e8f;*/
 }
.audio-controls:hover{
background-color: rgba(157, 0, 255, 0);
}
.notice{
display: none;
}
.playpause {
margin-left: 0px;
padding-top: 0px;
border-radius: 50%;
background: transparent;
cursor: pointer;
text-shadow: 0 0 6px #ffffff;
transition: 0.3s ease-in-out;
}
.playpause:hover {
background: #810585;
}
.playpause .button {
width: 13px;
height: 13px;
background: #ffffff;
transition: inherit;
margin-left: 5px;
clip-path: polygon(0 0, 50% 25%, 50% 75%, 50% 75%, 50% 25%, 100% 50%, 100% 50%, 0 100%);
text-shadow: 0 0 6px #ffffff;
}
.playpause.playing .button {
clip-path: polygon(0 0, 40% 0, 40% 100%, 60% 100%, 60% 0, 100% 0, 100% 100%, 0 100%);
margin-left: 5px;
text-shadow: 0 0 6px #ffffff;
}
progress[value]{
-webkit-appearance: none;
appearance: none;
position: fixed;
top: 0;
width: 100%;
height: 5px;
}
progress[value]::-webkit-progress-bar {
background: rgba(255, 255, 255, 0);
}
progress[value]::-webkit-progress-value{
box-shadow:  0 0 18px #a70000;
background: linear-gradient(180deg, #a70000, #f00000);
z-index: 1;
}
.streaming{background: #fff;color: #000000;position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;z-index: 10;}
.strm-img{width: 60%;}
.ex-img{width: 60%;}
.expired{background: #fff;color: #000000;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 9;}
.expired-text{font-size: 12px;font-family: Verdana, Geneva, Tahoma, sans-serif;}
.player {
background: #ff000000;
height: 95vh;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
.details {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-top: 5px;
}
.track-art {
margin: 25px;
height: 150px;
width: 150px;
background-image: URL("../../album cover.jpg");
background-size: cover;
background-position: center;
box-shadow: 0 0 16px rgba(0, 0, 0, 0.548);
border-radius: 5%;
}
.now-playing {
font-size: .5rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-shadow: 0 0 6px #fff;
}
.track-name {
background-color: #81058500;
padding: 0 8px;
border-radius: 5px;
font-size: .8rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-shadow: 0 0 6px rgba(255, 255, 255, 0.267);
transition: 0.5s;
}
.track-name:hover{text-shadow: 0 0 6px rgb(255, 255, 255);transition: 0.5 ease;}
.track-artist {
font-size: .4rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-shadow: 0 0 6px rgba(255, 255, 255, 0.267);}
.track-artist:hover{text-shadow: 0 0 6px rgb(255, 255, 255);transition: 0.5 ease;}
.buttons {
display: flex;
flex-direction: row;
background-color: #00000000;
text-shadow: 0 0 6px rgba(0, 0, 0, 0.541);
backdrop-filter: blur(5px);
border-radius: 10px;
align-items: center;
}
.playpause-track,
.prev-track,
.next-track {
padding: 25px;
transform: scale(0.9);
transition:  0.5s ease, opacity .2s;}
.playpause-track:hover,.prev-track:hover,.next-track:hover {transform: scale(1.0);transition: 0.5s ease;}
.playpause-track:active,.prev-track:active,.next-track:active {transform: scale(0.6);transition: 0.5s ease;}
.slider_container {
width: 75%;
max-width: 400px;
display: flex;
justify-content: center;
align-items: center;
}
.seek_slider, .volume_slider {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
height: 5px;
background: #810585;
text-shadow: 0 0 6px #fff;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}
.seek_slider{display: none;}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background: white;
text-shadow: 0 0 6px rgba(255, 255, 255, 0.548);
cursor: pointer;
border-radius: 50%;}
.seek_slider:hover,
.volume_slider:hover {opacity: 1.0;}
.seek_slider {width: 60%;}
.volume_slider {width: 30%;}
.current-time,.total-duration {padding: 10px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-shadow: 0 0 6px #fff;}
i.fa-volume-down,i.fa-volume-up {padding: 10px;}
i.fa-play-circle,i.fa-pause-circle,i.fa-step-forward,i.fa-step-backward {cursor: pointer;}}